.task-input-wrap {
  width: 90%;
}
.task-input-dark{
  background: var(--Very-Dark-Desaturated-Blue);
}
.task-input-light{
  background:var(--very-light-gray);
}
.task-input {
  /* margin: auto; */
  
  width: var(--div-width-mob);
  height: 45px;
  border-radius: 5px;
  /* text-align: center; */
}
.task-input {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.task-input > *:nth-child(1) {
  /* flex: 1 1 10%; */
  appearance: none;
  width: 22px;
  height: 22px;
  margin: 0 10px 0 16px;
}
.task-input-dark > *:nth-child(1){
  border: 0.5px solid var(--very-dark-grayish-blue);
  border-radius: 50%;

}
.task-input-light > *:nth-child(1){
  border: 0.5px solid var(--light-grayish-blue);
  border-radius: 50%;

}
.task-input > *:nth-child(2) {
  flex: 1 1 86%;
}
.task-input input[type="text"] {
  width: 90%;
  /* padding: 15px 20px 12px 5px; */
  vertical-align: middle;
  background-color: transparent;
  outline: none;
  border: none;
}
.task-input-dark input[type='text']{
  color: var(--Light-Grayish-Blue);

}
.task-input-light input[type='text']{
  color: var(--very-dark-grayish-blue);

}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--Dark-Grayish-Blue);
  opacity: 0.7; /* Firefox */
  font-size: 11px;
  font-weight: 400;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: var(--Dark-Grayish-Blue);
  font-size: 11px;
  font-weight: 400;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: var(--Dark-Grayish-Blue);
  font-size: 11px;
  font-weight: 400;
}
