.todo-item-dark{
  background: var(--Very-Dark-Desaturated-Blue);
}
.todo-item-light{
  background: var(--very-light-gray);
}

.todo-item {
  margin: 0 auto;
  display: inline-flex;
  padding: 1.3rem 1rem;
  width: var(--div-width-mob);
  justify-content: space-around;
  align-items: center;
  font-size: 0.75rem;
  font-weight: 100;
  outline: none;
  /* box-shadow: 0px 8px 16px 8px rgba(0, 0, 0, 0.2); */
}
.todo-item-dark >p{
color:var(--Dark-Grayish-Blue);
color: rgba(255, 255, 255, 0.623);

}
.todo-item-light>p{
  color:var(--very-dark-grayish-blue);
}
.todo-item > p {
  /* opacity: 0.9; */
  /* color: var(--Dark-Grayish-Blue); */
  padding: 0 0.3rem;
}
/* ---------------/ */

.checked {
  text-decoration: line-through;
  text-decoration-line: line-through;
  -webkit-text-decoration-line: line-through;
  opacity: 30%;
}
/* ---------------/ */

.todo-item > *:nth-child(1) {
  /* flex: 0 0 10%; */
}
.todo-item > *:nth-child(2) {
  flex: 0 0 80%;
}
.todo-item > *:nth-child(3) {
  flex: 1 1 10%;
  align-self: center;
  position: relative;
  left: 5%;
}
.todo-item > span > img {
  width: 12px;
  /* background-color: var(--default); */
}

.todo-item:last-child {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
.todo-item-dark:not(:last-child) {
  border-top: 1px solid rgba(92, 90, 90, 0.301);
}
.todo-item-light:not(:last-child) {
  border-top: 1px solid var(--very-light-grayish-blue);
}
.todo-item input[type="checkbox"] {
  appearance: none;
  width: 22px;
  height: 22px;
 
}
.todo-item-dark input[type='checkbox']{
  border: 0.5px solid var(--Very-Dark-Grayish-Blue);
  border-radius: 50%;
}
.todo-item-light input[type='checkbox']{
  border: 0.5px solid var(--light-grayish-blue);
  border-radius: 50%;
}
.todo-item input[type="checkbox"]::after {
  content: "\2714";

  margin-top: 2px;
  display: none;
  /* typography */
  color: white;
  font-size: 12px;
  text-align: center;
}
.todo-item input[type="checkbox"]:checked {
  background: var(--check-bkg);
  background-repeat: no-repeat;
  background-size: "cover";
  background-position: center center;
  width: 22px;
  height: 22px;
  border: 0.5px solid var(--check-bkg);
}
.todo-item input[type="checkbox"]:checked::after {
  display: block;
}
.todo-item input[type="checkbox"]:focus {
  outline: none;
}
.todo-item input[type="checkbox"]:hover {
  border: 10px solid var(--check-bkg);
  border: 10px solid var(--check-bkg);
}
.remove_Icon:hover {
  cursor: pointer;
}
